@using System.Web.Optimization
@model System.Collections.Generic.IEnumerable<BAR.UI.MVC.Models.PersoonDTO>

@{
    ViewBag.Title = "Politici";
}

@section CustomCSS{
    @Styles.Render("~/bundles/datatables")
}
<div class="right_col" role="main">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <h1>Politici-overzicht</h1>
        <hr/>

        <p class="text-muted font-16 m-b-30">
            Extra informatie over de politici en uitleg over de attributen etc.
        </p>

        <table id="datatable-responsive" class="table dt-responsive nowrap table-hover" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfMentions)
                </th>
                <th>
                    Positive
                </th>
                <th>
                    Negative
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TrendingPercentage)
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                <tr onclick="location.href = '@(Url.Action("Details", new {id = item.ItemId}))'">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfMentions)
                    </td>
                    <td class="green">
                        @Html.DisplayFor(modelItem => item.NumberOfMentions)
                    </td>
                    <td class="red">
                        @Html.DisplayFor(modelItem => item.NumberOfMentions)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrendingPercentage)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div style="visibility: hidden">t</div>
</div>
@section CustomJS{
    @Scripts.Render("~/bundles/datatablesScripts")
}