@using System.Web.Optimization
@using BAR.BL.Domain.Items
@using BAR.UI.MVC.Models
@model BAR.UI.MVC.Models.ItemViewModels.OrganisationViewModel

@section CustomCSS{
    <link rel="stylesheet" href="../../Content/build/css/vendor/gridstack.css"/>
}

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="clearfix"></div>
            <div class="x_content">
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view" src="../../Content/build/images/organisation.png" alt="Avatar" title="Change the avatar">
                        </div>
                    </div>

                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    @Model.Customization.OrganisationAlias
                    <h1>
                        @Model.Organisation.Name
                        @if (Model.Subscribed != true) {
                            <a class="w-100px subscribeItem btn btn-success pull-right" data-item-id="@Model.Organisation.ItemId" title="Deze persoon volgen">@Resources.Subscribe</a>
                        } else {
                            <a class="w-100px subscribeItem btn btn-danger pull-right" data-item-id="@Model.Organisation.ItemId" title="Uitschrijven">@Resources.Unsubscribe</a>
                        }
                    </h1>
                    <hr/>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h4>
                        <strong>@Model.Customization.OrganisationAlias @Resources.Details</strong>
                    </h4>
                    <ul class="list-unstyled user_data">
                        <li class="m-top-xs">
                            <i class="fa fa-globe external-link user-profile-icon"></i>
                            <a href="@Model.Site" target="_blank">@Model.Site</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h4>
                        <strong>@Resources.SocialMedia</strong>
                    </h4>
                    @foreach (var item in Model.SocialMediaNames) {
                        if (item.Source.SourceId == 1) {
                            if (item.Username != null) {
                                <a href="http://www.twitter.com/@item.Username" class="social-icon" aria-label="Twitter">
                                    <i class="fa fa-2x fa-twitter-square"></i>
                                </a>
                            }
                        }
                        if (item.Source.SourceId == 2) {
                            if (item.Username != null) {
                                <a href="@item.Username" class="social-icon" aria-label="Facebook">
                                    <i class="fa fa-2x fa-facebook-square"></i>
                                </a>
                            }
                        }
                    }
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h4>
                        <strong>@Resources.NumberOfMentions</strong>
                    </h4>
                    <h1>
                        <strong class="totalNumberOfMentions">@Model.Organisation.NumberOfMentions</strong>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mentions widget -->
<div class="grid-stack item-page" id="mentions-grid"></div>

<!-- Widgets -->
<div class="grid-stack organisation-page" id="grid"></div>

<!-- Organisation members -->
<h1 class="itemHeader">@Resources.Members</h1>
<hr/>
<div class="row">
    <div class="col-xs-12">
        <div class="x_panel max_height_460 scroll">
            <div class="x_content">
                <br/>
                <div id="related-items">
                    @foreach (ItemViewModels.PersonViewModel person in @Model.MemberList) {
                        @Html.Partial("Partials/_RelatedItems", person)
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Partials/_SocialIcons")
@section CustomJS{
    <script src="~/Scripts/ChartJS/Chart.js"></script>
    @Scripts.Render("~/bundles/gridstack")
    <script type="text/javascript" defer>(() => loadWidgets("/api/GetItemWidgets/", @Model.Organisation.ItemId))(jQuery);</script>
}

