@using System
@using System.Web.Optimization
@using BAR.UI.MVC.Controllers
@model BAR.UI.MVC.Models.UserSubscribedPeopleDTO

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"]</title>

    @Styles.Render("~/Content/css")

    @if (IsSectionDefined("CustomCSS")) {
        @RenderSection("CustomCSS")
    }

    <!-- Custom Theme Style -->
    @Styles.Render("~/Content/custom")
    
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body class="nav-sm">
<div class="container body">
<div class="main_container">
<div class="col-md-3 left_col nav-fixed">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/" class="site_title">
                <i class="small-logo"></i>
            </a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="../../Content/build/images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welkom,</span>
                <h2>@Html.DisplayFor(modelItem => Model.User.FirstName)</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br/>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                    @Html.Partial("Partials/NavBarLinks")
                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>

<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle">
                    <i class="fa fa-bars"></i>
                </a>
            </div>

            <!-- login -->
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                       aria-expanded="false">
                        <img src="../../Content/build/images/img.jpg" alt="">@Html.DisplayFor(modelItem => Model.User.FirstName)
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li>
                            <a href="javascript:;"> Dashboard</a>
                        </li>
                        <li>
                            <a href='@Url.Action(nameof(UserController.Settings), "User", new {id = @ViewBag.Id})'>
                                <span>Instellingen</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">Alerts</a>
                        </li>
                        <li>
                            <a href="javascript:;">Weekly review</a>
                        </li>
                        <li>
                            <a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
                <!-- alerts -->
                <li role="presentation" class="dropdown">
                    <a id="alertDropdown" href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown"
                       aria-menu1expanded="false">
                        <i class="fa fa-envelope-o"></i>
                        <span id="alertCount" class="badge bg-green"></span>
                    </a>
                    <div class="dropdown-menu msg_list" role="menu">
                        <ul class="list-unstyled msg_list msg_headers">
                            <li class="alertMenuHeader"><strong>Alerts</strong></li>
                            <li class="alertWindowsSettings"><a>Intellingen</a></li>
                        </ul>
                        <ul id="alertMenu" class=" list-unstyled msg_list">
                            <div class="loadingAlerts"></div>
                        </ul>
                    </div>
                </li>
            </ul>
            <!-- search -->
            @Html.Partial("Partials/SearchBar")
        </nav>
    </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col" role="main">
    @RenderBody()
</div>
<!-- /page content -->

<!-- footer content -->
<footer>
    <div class="pull-right">
        &copy; @DateTime.Now.Year - Barometer
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<!-- Scripts -->
@Scripts.Render("~/bundles/jquery","~/bundles/bootstrap","~/bundles/flot","~/bundles/dates","~/bundles/pnotify","~/bundles/timeago")

<script type="text/javascript">
    
    //Alerts:
    var alertcount;
    //Updates the alert count icon
    function updateAlertCount() {
        if (this.alertcount <= 0) {
            $('#alertCount').hide();
        } else {
            $('#alertCount').show();
            $('#alertCount').html(this.alertcount);
        }
    }
    
    function removeAlert(alertId) {
        $.ajax(`/api/User/${@ViewBag.Id}/Alert/${alertId}/Delete`,
                {
                    type: 'DELETE',
                    dataType: 'json'
                })
            .done(() => loadAlerts())
            .fail(() => alert('Cannot change alert.'));
    }
    
    //When an alert is clicked, this function is called.
    //It sets the property isRead of the Alert to true.
    function markAsRead(id) {
        var alert = $(`#alert${id}`);
        if (!alert.hasClass('alertRead')) {
            alert.addClass('alertRead');
            this.alertcount = alertcount - 1;
            updateAlertCount();
        }
        $.ajax(`/api/User/${@ViewBag.Id}/Alert/${id}/Read`,
                {
                    type: 'PUT',
                    dataType: 'json'
                })
            .done(() => {/*ok*/})
            .fail(() => alert('Cannot change alert.'));
    }
    
    //Generates the HTML for one alert item in the dropdown alert menu
    function generateAlertHTML(alert) {
        var read = "";
        if (alert.IsRead) {
            read = "alertRead";
        }

        var alertItem = $("<li />",
            {
                "class": `alertMessage${alert.AlertId} ${read}`,
                onclick: `markAsRead(${alert.AlertId})`
            });

        var alertCloseButton = $("<div />",
            {
                "class": "alertClose",
                title: "Verwijder alert"
            }).append($("<a />",
            {
                "class": "fa fa-close",
                onclick: `removeAlert(${alert.AlertId})`

            }));
        var alertBody = $("<a />",
        {
            href: `/Person/Details/${alert.AlertId}`
        });
        var alertIcon = $("<div />",
            {
                "class": "alertIcon"
            }).append($("<i />",
            {
                "class": "fa fa-user"
            }));
        var alertContent = $("<span />",
            {
                html: `<strong>${alert.Name}</strong> is nu trending!`
            });
        var alertTime = $("<span />",
            {
                "class": "alertTime",
                html: `<i class="font_11 fa fa-clock-o"></i> ${jQuery.timeago(alert.TimeStamp)}`
            });
        alertBody.append(alertIcon).append(alertContent).append(alertTime)
        alertItem.append(alertCloseButton).append(alertBody);
        return alertItem;
    }
        

    //Inserts the HTML for the alerts inside the alert dropdownlist in the top-navbar
    function InsertAlerts(alertData) {
        $('#alertMenu').empty();
        var counter = 0;
        for (var i = 0; i < alertData.length; i++) {
            var alertItem = generateAlertHTML(alertData[i]);
            
            //Add alert to alert dropdownlist
            $('#alertMenu').append(alertItem);

            if (!alertData[i].IsRead) {
                counter++;
            }
        }
        //Update the alertCounter
        this.alertcount = counter;
        updateAlertCount();
    }
    
    //Ajax GET request: loads all alerts and calls InsertAlerts() method to add HTML to the page.
    function loadAlerts() {
        //show loading gif
        $(".loadingAlerts").css("display","block");
        $.ajax('/api/User/@ViewBag.Id/GetAlerts',
                {
                    type: 'GET',
                    dataType: 'json'
                })
            .done(data => {
                //hide loading gif
                $(".loadingAlerts").css("display", "none");
                //There are alerts available
                if (data != undefined) {
                    var alertData = data;
                    console.log(alertData);
                    InsertAlerts(data);
                    $('#alertMenu').append(
                        "<li id=\"seeAllAlerts\"><div class=\"text-center\"><a><strong>Bekijk alle alerts</strong></a></div></li>");
                } else { //No available alerts
                    $('#alertMenu').empty();
                    $('#alertMenu').append("<li class=\"noAlertsAvailable\"><i class=\"fa fa-envelope-o\"></i></br>" +
                        "<strong>Je hebt geen alerts.</strong></br>" +
                        "Abboneer jezelf op personen, partijen of thema's</br>" +
                        "om te zien wanneer ze trending zijn.</li>");
                }
            })
            .fail(() => {
                //TODO: if request fails proper error handling
            });
    }
    (() => {
        loadAlerts();
        //Everytime the alert button is clicked, they are reloaded.
        $('#alertDropdown').click(loadAlerts);
    })(jQuery);
</script>

@if (IsSectionDefined("CustomJS")) {
    @RenderSection("CustomJS")
}

<!-- Custom Theme Scripts -->
@Scripts.Render("~/bundles/custom")

</body>
</html>