@using System.Web.Optimization
@model BAR.UI.MVC.Models.ItemViewModels.ThemeViewModel

@section CustomCSS{
    <link rel="stylesheet" href="../../Content/build/css/vendor/gridstack.css" />
}

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="clearfix"></div>
            <div class="x_content">
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view" src="../../Content/build/images/topics.png" alt="Avatar" title="Change the avatar">
                        </div>
                    </div>

                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    @Model.Customization.ThemeAlias
                    <h1>
                        <span class="item-name">@Model.Theme.Name</span>
                        @if (Model.Subscribed != true)
                        {
                        <a class="w-100px subscribeItem btn btn-success pull-right" data-item-id="@Model.Theme.ItemId" title="Deze persoon volgen">@Resources.Subscribe</a>}
                        else
                        {
                        <a class="w-100px subscribeItem btn btn-danger pull-right" data-item-id="@Model.Theme.ItemId" title="Uitschrijven">@Resources.Unsubscribe</a>}
                    </h1>
                    <hr />
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h4>
                        <strong>@Model.Customization.ThemeAlias details</strong>
                    </h4>
                    <ul class="list-unstyled user_data">
                        @foreach (var keyword in Model.Keywords)
                        {
                        <button class="btn btn-default btn-xs">@keyword.Name</button>
                        }

                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h4>
                        <strong>Totale vermeldingen</strong>
                    </h4>
                    <h1>
                        <strong>@Model.Theme.NumberOfMentions</strong>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mentions widget -->
<div class="grid-stack item-page" id="mentions-grid"></div>

<h1 class="itemHeader">
    @Resources.PeopleWhoMention @Model.Theme.Name
</h1>
<hr/>

<!-- Widgets -->
<div class="grid-stack item-page" id="grid"></div>

@section CustomJS{
    <script src="~/Scripts/ChartJS/Chart.js"></script>
    @Scripts.Render("~/bundles/gridstack")
    <script type="text/javascript" defer>(() => loadWidgets("/api/GetItemWidgets/", @Model.Theme.ItemId))($);</script>
}

