@using System.Web.Optimization
@using BAR.BL.Domain.Items
@using BAR.UI.MVC
@using BAR.UI.MVC.App_GlobalResources
@using BAR.UI.MVC.Helpers
@using BAR.UI.MVC.Models
@model BAR.UI.MVC.Models.ItemViewModels.ItemViewModel

<link href="../../Content/build/css/homepage.css" rel="stylesheet">

<section>
@section Homepage {
    <!-- header start -->
    <div class="main-header-container-parent row header-image-bg">
        <runat="server" div class="col-md-12 col-sm-12 col-xs-12 main-header-container" style="background-image: url(&quot;@Url.HeaderImage()&quot;)">
            <div class="logo"></div>
            <div class="main-header">
                <h1 class="main-header-title">@Resources.HomepageHeaderSee @Model.Customization.PersonsAlias.ToLower() @Resources.HomepageHeaderTrending<br/>@Resources.OnSocialMedia.ToLower().
                </h1>
            </div>
            @Html.Partial("Partials/_SearchBar")
        </runat="server"div>
    </div>
    <!-- header end -->
}
    <a name="nieuws"></a>

<!-- top tiles -->
    <div class="row tile_count">
        @{ int i = 0;}
        @foreach (var item in Model.Items.OrderByDescending(m => m.NumberOfMentions)) {
            if (i < 6) {
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <a style="text-decoration: none" href="/Person/Details/@item.ItemId">
                    <span class="count_top"><i class="fa fa-user"></i> @item.Name</span>
                    <div class="count">@item.NumberOfMentions</div>
                    </a>
                    <span class="count_bottom">
                        <i class="green">
                            <i class="fa fa-sort-asc">
                            </i>@item.TrendingPercentage%
                        </i> Sinds vorige week
                    </span>
                    
                </div>
                i++;
            }
        }
    </div>
<!-- /top tiles -->
</section>  <!-- end first page -->

<section>
    <!-- top 3 politici (trending) -->
            <div class="x_panel tile">
                <div class="x_title">
                    <h2>Top 3 trending politici</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content row">
                    <div class="col-12" style="max-height: 500px">
                       <canvas id='trending-graph'></canvas>
                       <h2 class='no-graph-data text-center'>No data available.</h2>
                    </div>
                    @{ int j = 1;}
                    <table>
                        @foreach (var item in Model.Items.OrderByDescending(m => m.TrendingPercentage)
                            .Take(3))
                        {
                            if (j <= 3)
                            {
                                <tr>
                                    <div class="widget_summary col-12 col-md-4">
                                        <div class="w_left w90">
                                        <h4 id="t-name-@j" style="display: inline-block"></h4>
                                        <h4 style="display: inline-block">
                                            <i class="green">
                                                <i class="fa fa-sort-asc"></i>
                                            </i>
                                        </h4>
                                        </div>
                                        <div id="twitter-feed-@j" class="w_center w_90">
                                            
                                            
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </tr>
                                j++;
                            }
                        }
                    </table>
                </div>
            </div>
    <!-- /top 3 politici (trending) -->
</section> <!-- end second page -->

<section>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    Populariteit per regio
                </h2>
                <ul class="nav panel_toolbox">
                    <li>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link">
                            <i class="fa fa-close"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dashboard-widget-content">
                    <div id="map-parent">
                        <div id="world-map-gdp" class="col-md-12 col-sm-12 col-xs-12" style="height: 430px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section> <!-- end third page -->

@section CustomJS{
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="~/Scripts/ChartJS/Chart.js"></script>
    <script src="https://platform.twitter.com/widgets.js"></script>
    @Scripts.Render("~/bundles/gridstack", "~/bundles/map")
    <script src="../../Content/build/js/homepage.js"></script> 
    
    <script>
        (() => {
            $.ajax({
                type: "GET",
                url: 'api/GetTopTrendingItems',
                dataType: "json",
                success: data => {
                    GetTopTrending(data);
                    TwitterFeed(data);
                },
                error: (xhr) => alert(xhr.responseText)
            });
        })($)
    </script>
}

