@using System.Web.Optimization
@using BAR.BL.Domain.Items
@model BAR.UI.MVC.Models.ItemViewModel

@{
    ViewBag.Title = Model.PageTitle;
}

@section CustomCSS{
    <link href="../../Scripts/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
}
<link href="../../Content/build/css/homepage.css" rel="stylesheet">

<!-- header start -->
<div class="main-header-container-parent row header-image-bg">
    <div class="col-md-12 col-sm-12 col-xs-12 main-header-container">
        <div class="logo"></div>
        <div class="main-header">
            <h1 class="main-header-title">Bekijk welke <span class="underline">politici</span> trending zijn<br/>op social media.
                </h1>
        </div>
        @Html.Partial("Partials/SearchBar")
    </div>
</div>
<!-- header end -->
<a name="nieuws"></a>
<div class="right_col" role="main">
<!-- top tiles -->
<div class="row tile_count">
    @{ int i = 0;}
    @foreach (var item in Model.People) {
        if (i < 6) {
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> @item.Name</span>
                <div class="count">123.50</div>
                <span class="count_bottom">
                    <i class="green">
                        <i
                            class="fa fa-sort-asc">
                        </i>@item.TrendingPercentage%
                    </i> Sinds vorige week
                </span>
            </div>
            i++;
        }
    }
</div>
<!-- /top tiles -->
<div class="row">

<div class="col-md-8 col-sm-8 col-xs-12">
    <div class="x_panel tile fixed_height_320">
        <div class="x_title">
            <h2>Top 5 politici</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link">
                        <i class="fa fa-close"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <p><strong>Aantal vermeldingen van politici op social media</strong></p>
            @{ int j = 1;}
            <table>
            @foreach (var item in Model.People.OrderByDescending(m => m.TrendingPercentage)) {
                if (j <= 5) {
                    <tr>
                        <div class="widget_summary">
                            <div class="w_left w_25">
                                <span style="display: inline" class="badge bg-green">@j</span>
                                <h4>@item.Name</h4>
                            </div>
                            <div class="w_center w_55">
                                <div class="progress">
                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="@item.TrendingPercentage"
                                         aria-valuemin="0" aria-valuemax="@Model.People.Max(m => m.TrendingPercentage)" style="width: @(item.TrendingPercentage*3)%;">
                                        <span class="sr-only">@item.TrendingPercentage% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w_right w_20">
                                <span>@item.TrendingPercentage%</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </tr>
                    j++;
                }
            }
            </table>
        </div>
    </div>
</div>


<!-- form color picker -->
<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320">
        <div class="x_title">
            <h2>Color Picker</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link">
                        <i class="fa fa-close"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br/>
            <form class="form-horizontal form-label-left">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Primaire kleur</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div id="cp-primary" class="cp-primary input-group">
                            <input id="ip-primary" type="text" value="#e01ab5" class="form-control"/>
                            <span class="input-group-addon">
                                <i></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Secundaire kleur</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div id="cp-secondary" class="input-group demo2">
                            <input id="ip-secondary" type="text" value="#e01ab5" class="form-control"/>
                            <span class="input-group-addon">
                                <i></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Tertiaire kleur</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div id="cp-tertiary" class="input-group demo2">
                            <input id="ip-tertiary" type="text" value="#e01ab5" class="form-control"/>
                            <span class="input-group-addon">
                                <i></i>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /form color picker -->

</div>


<div class="row">



    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    Populariteit per regio
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link">
                            <i class="fa fa-close"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dashboard-widget-content">
                    <div id="map-parent">
                        <div id="world-map-gdp" class="col-md-12 col-sm-12 col-xs-12" style="height: 430px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">


<!-- Start to do list -->
<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                To Do List
                <small>Sample tasks</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link">
                        <i class="fa fa-close"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <div class="">
                <ul class="to_do">
                    <li>
                        <p>
                            <input type="checkbox" class="flat"> Schedule meeting with new
                            client
                        </p>
                    </li>
                    <li>
                        <p>
                            <input type="checkbox" class="flat"> Create email address for new
                            intern
                        </p>
                    </li>
                    <li>
                        <p>
                            <input type="checkbox" class="flat"> Have IT fix the network printer
                        </p>
                    </li>
                    <li>
                        <p>
                            <input type="checkbox" class="flat"> Copy backups to offsite
                            location
                        </p>
                    </li>
                    <li>
                        <p>
                            <input type="checkbox" class="flat"> Food truck fixie locavors
                            mcsweeney
                        </p>
                    </li>
                    <li>
                        <p>
                            <input type="checkbox" class="flat"> Food truck fixie locavors
                            mcsweeney
                        </p>
                    </li>
                    <li>
                        <p>
                            <input type="checkbox" class="flat"> Create email address for new
                            intern
                        </p>
                    </li>
                    <li>
                        <p>
                            <input type="checkbox" class="flat"> Have IT fix the network printer
                        </p>
                    </li>
                    <li>
                        <p>
                            <input type="checkbox" class="flat"> Copy backups to offsite
                            location
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End to do list -->

<!-- start of weather widget -->
<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Daily active users
                <small>Sessions</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link">
                        <i class="fa fa-close"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="temperature">
                        <b>Monday</b>, 07:30 AM
                        <span>F</span>
                        <span>
                            <b>C</b>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="weather-icon">
                        <canvas height="84" width="84" id="partly-cloudy-day"></canvas>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="weather-text">
                        <h2>Texas <br><i>Partly Cloudy Day</i></h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="weather-text pull-right">
                    <h3 class="degrees">23</h3>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row weather-days">
                <div class="col-sm-2">
                    <div class="daily-weather">
                        <h2 class="day">Mon</h2>
                        <h3 class="degrees">25</h3>
                        <canvas id="clear-day" width="32" height="32"></canvas>
                        <h5>15 <i>km/h</i></h5>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="daily-weather">
                        <h2 class="day">Tue</h2>
                        <h3 class="degrees">25</h3>
                        <canvas height="32" width="32" id="rain"></canvas>
                        <h5>12 <i>km/h</i></h5>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="daily-weather">
                        <h2 class="day">Wed</h2>
                        <h3 class="degrees">27</h3>
                        <canvas height="32" width="32" id="snow"></canvas>
                        <h5>14 <i>km/h</i></h5>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="daily-weather">
                        <h2 class="day">Thu</h2>
                        <h3 class="degrees">28</h3>
                        <canvas height="32" width="32" id="sleet"></canvas>
                        <h5>15 <i>km/h</i></h5>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="daily-weather">
                        <h2 class="day">Fri</h2>
                        <h3 class="degrees">28</h3>
                        <canvas height="32" width="32" id="wind"></canvas>
                        <h5>11 <i>km/h</i></h5>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="daily-weather">
                        <h2 class="day">Sat</h2>
                        <h3 class="degrees">26</h3>
                        <canvas height="32" width="32" id="cloudy"></canvas>
                        <h5>10 <i>km/h</i></h5>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>
<!-- end of weather widget -->
</div>
</div>

@section CustomJS{
    <script src="../../Scripts/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <script type="text/javascript">
        $(window).scroll(() => {
            //After scrolling 100px from the top...
            if ($(window).scrollTop() >= 100) {
                $('.left_col').css('left', '0');
            } else {
                $('.left_col').css('left', '-100px');
            }
        });

        (() => $('.search-field').focus())($);
    </script>
}