@using System.Web.Optimization
@using BAR.BL.Domain.Items
@using BAR.UI.MVC
@using BAR.UI.MVC.App_GlobalResources
@using BAR.UI.MVC.Helpers
@using BAR.UI.MVC.Models
@using WebGrease.Css.Extensions
@model BAR.UI.MVC.Models.ItemViewModels.ItemViewModel

<link href="../../Content/build/css/homepage.css" rel="stylesheet">

<section>
@section Homepage {
    <!-- header start -->
    <div class="main-header-container-parent row header-image-bg">
        
        <div runat="server" class="col-md-12 col-sm-12 col-xs-12 main-header-container" style="background-image: url(&quot;@Url.HeaderImage()&quot;)">

        <div runat="server" class="logo" style="background-image: url(&quot;@Url.LogoImage()&quot;);"></div>
        <div class="main-header">
            <h1 class="main-header-title">@Resources.HomepageHeaderSee @Model.Customization.PersonsAlias.ToLower() @Resources.HomepageHeaderTrending<br />@Resources.OnSocialMedia.ToLower().</h1>
        </div>
        @Html.Partial("Partials/_SearchBar", Model)
    </div>
    </div>
    <!-- header end -->
}
    <a name="nieuws"></a>

<!-- top tiles -->
    <div class="row tile_count">
        @foreach (var item in Model.Items.Where(i => i.ItemType == ItemType.Person).OrderByDescending(m => m.NumberOfMentions).Take(6)) {

                <div class="tile_stats_count col-md-2 col-sm-4 col-xs-6">
                    <a style="text-decoration: none" href="/Person/Details/@item.ItemId">
                    <span class="count_top"><i class="fa fa-user"></i> @item.Name</span>
                    <div class="count">@item.NumberOfMentions</div>
                    </a>
                    <span class="count_bottom">
                        <i class="green">
                            <i class="fa fa-sort-asc">
                            </i>@item.TrendingPercentage%
                        </i> Sinds vorige week
                    </span>
                    
                </div>
        }
    </div>
<!-- /top tiles -->
</section>  <!-- end first page -->

<section>     <!-- top 3 politici (trending) -->
    <div class="x_panel">
        <div class="x_title">
            <h2>Top 3 trending @Model.Customization.PersonsAlias</h2>
            <ul class='nav panel_toolbox'>
                <li>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-down"></i>
                    </a>
                </li>
                <li><a id="0" class='makeJSON' data-widget-id=""> @Resources.Save @Resources.To @Resources.Dashboard</a></li>
            </ul>
            <div class='clearfix'></div>   
        </div>
        <div class="x_content">

            <div class="row">
                <div class="col-12" style="max-height: 300px; height: 300px">
                    <canvas id='trending-1-graph'></canvas>
                    <h2 class='no-graph-data text-center'>No data available.</h2>
                </div>
                
                <!-- CARDS -->
                <div class="row">
                    @for (int j = 0; j < 3; j++)
                    {
                        <div class="col-xs-12 col-sm-4">
                            @if (Model.TopTrendingPersonViewModels.Count == 3) {
                                @Html.Partial("Partials/_cardPerson", Model.TopTrendingPersonViewModels.ElementAt(j))
                            }                               
                        </div>
                    }
                </div>
                <!-- /CARDS -->
                
                <div class='x_panel no-scrollbar x_nested_panel'>
                    <div class='x_title'>
                        <h2 class='graphTitle'>Twitter feed</h2>
                        <ul class='nav panel_toolbox'>
                            <li>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-down"></i>
                                </a>
                            </li>
                        </ul>
                        <div class='clearfix'></div>
                    </div>
                    <div class="x_content" style="display: none">
                        <table>
                            @for (int j = 1; j <= 3; j++)
                            {
                                <tr>
                                    <div class="widget_summary col-12 col-md-4">
                                        <div class="w_left w90">
                                            <a style="text-decoration: none">
                                                <h4 id="t-name-@j" style="display: inline-block"></h4>
                                                <b>
                                                    <h4 style="display: inline-block">
                                                        
                                                    </h4></b>
                                            </a>
                                        </div>
                                        <div id="twitter-feed-@j" class="w_center w_90">


                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  <!-- /top 3 politici (trending) -->

<div class="row">
    <div class="col-12 col-sm-6">
        <section> <!-- top 3 organisations (trending) -->

            <div class="x_panel">
                <div class="x_title">
                    <h2>Top 3 trending @Model.Customization.OrganisationsAlias</h2>
                    <ul class='nav panel_toolbox'>
                        <li>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>
                        <li><a id="1" class='makeJSON' data-widget-id=""> @Resources.Save @Resources.To @Resources.Dashboard</a></li>
                    </ul>
                    <div class='clearfix'></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-12" style="max-height: 300px; height: 300px">
                            <canvas id='trending-2-graph'></canvas>
                            <h2 class='no-graph-data text-center'>No data available.</h2>
                        </div>
                    </div>
                    
                    <!-- SMALL CARDS -->
                    <div class="row">
                        @for (int j = 3; j < 6; j++)
                        {
                            <div class="col-xs-12 col-sm-4 small-card">
                                @if (Model.TopTrendingitems.Count > 3) {
                                    @Html.Partial("Partials/_card", Model.TopTrendingitems.ElementAt(j))
                                }
                            </div>
                        }
                    </div>
                    <!-- /SMALL CARDS -->
                    
                </div>
            </div>
        </section> <!-- /top 3 organisations (trending) -->
    </div>
        
<div class="col-12 col-sm-6">
    <section> <!-- top 3 Themas (trending) -->
        <div class="x_panel">
            <div class="x_title">
                <h2>Top 3 trending @Model.Customization.ThemesAlias</h2>
                <ul class='nav panel_toolbox'>
                    <li>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    </li>
                    <li><a id="2" class='makeJSON' data-widget-id=""> @Resources.Save @Resources.To @Resources.Dashboard</a></li>
                </ul>
                <div class='clearfix'></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-12" style="max-height: 300px; height: 300px">
                        <canvas id='trending-3-graph'></canvas>
                        <h2 class='no-graph-data text-center'>No data available.</h2>
                    </div>
                </div>

                <!-- /SMALL CARDS -->
                <div class="row">
                    @for (int j = 6; j < 9; j++)
                    {
                        <div class="col-xs-12 col-sm-4 small-card">
                            @if (Model.TopTrendingitems.Count > 7) {
                                @Html.Partial("Partials/_card", Model.TopTrendingitems.ElementAt(j))
                            }
                        </div>
                    }
                </div>
                <!-- /SMALL CARDS -->
                
            </div>
        </div>
    </section> <!-- /top 3 Themas (trending) -->
    </div>
</div>

<section>  <!-- Weekly Review -->
    <div class="x_panel">
        <div class='x_title'>
            <h2 class='graphTitle'>Weekly Review</h2>
            <ul class='nav panel_toolbox'>
                <li>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </li>
            </ul>
            <div class='clearfix'></div>
        </div>
        <div class="x_content">
        @if (Model.WeeklyReviewModel.WeeklyItems.Count > 11) {
            @Html.Partial("Partials/_WeeklyReview", Model.WeeklyReviewModel)
        }
        </div>
    </div>
</section>

<section>  <!-- Kaart -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    Populariteit per regio
                </h2>
                <ul class="nav panel_toolbox">
                    <li>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dashboard-widget-content">
                    <div id="map-parent">
                        <div id="world-map-gdp" class="col-md-12 col-sm-12 col-xs-12" style="height: 430px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section> <!-- end third page -->

@section CustomJS{
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    </script>
    <script src="~/Scripts/ChartJS/Chart.js"></script>
    <script src="https://platform.twitter.com/widgets.js"></script>
    @Scripts.Render("~/bundles/gridstack", "~/bundles/map")
    <script src="../../Content/build/js/homepage.js"></script>
    
    <script>
    (() => {
        $.get({
            url: '/api/WidgetApi/GetWeeklyReview/0',
            dataType: "json",
            success: data => {
                var itemtype = 0;
                for (var j = 0; j < data.length; j++) {
                    if (j === 0 || j === 4 || j === 8) {
                        itemtype++;
                        WeeklyReview(data[j].Title, data[j].ItemIds[0], data[j].WidgetId, itemtype);
                    }
                }
            }
        });
    })($);
    </script>
    
}
