@using System.Web.Optimization
@using BAR.BL.Domain.Items
@using BAR.UI.MVC.Helpers
@model BAR.UI.MVC.Models.ItemViewModels.PersonViewModel

@{
    ViewBag.Title = Model.PageTitle;
}

@section CustomCSS{
    <link rel="stylesheet" href="../../Content/build/css/vendor/gridstack.css"/>
}

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="clearfix"></div>
            
            @if (@User.IsInRole("Admin") || @User.IsInRole("SuperAdmin")) {
                <button id="viewAsUser" class="adminview btn btn-default btn-xs">Toggle adminview</button>
            }
                            <!-- Current avatar -->
            <div id="userview">
                @Html.Partial("Partials/_DetailsAsUser", Model)
            </div>
            <div style="display: none" id="adminview">
                @Html.Partial("Partials/_DetailsAsAdmin", Model)
            </div>
        </div>
    </div>
</div>

<!-- Widgets -->
<div class="grid-stack" id="grid"></div>
@Html.Partial("Partials/_SocialIcons")

@section CustomJS{
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="~/Scripts/ChartJS/Chart.js"></script>
    <script src="https://platform.twitter.com/widgets.js"></script>
    @Scripts.Render("~/bundles/gridstack")
    
    <script type="text/javascript" defer>
        var wto;
        $(".renameItem").on('input propertychange paste',
            function() {
                clearTimeout(wto);
                var $this = $(this);
                var id = $this.data('item-id');
                $this.addClass("loadMessage");
                wto = setTimeout(function() {
                        $.ajax({
                                type: 'POST',
                                url: '/api/Admin/RenameItem/' + id + '/' + $this.val()
                            }).fail(() => { /**/ })
                            .done(function() {
                                $this.removeClass("loadMessage");
                                $(".item-name").html($this.val());
                            });
                    },
                    1000);
            });

        $("#itemForm").on("submit",
            function(event) {
                event.preventDefault();
                let form = $(this);
                $.ajax({
                    method: "GET",
                    url: "/api/GetItemWithDetails/" + form.data("item-id"),
                    success: data => {
                        formdata = form.serializeArray().reduce(function (a, x) {
                            a[x.name] = x.value;
                            return a;
                        }, {});
                        data.District = formdata.District;
                        data.Site = formdata.Site;
                        data.DateOfBirth = formdata.DateOfBirth;
                        data.Position = formdata.Position;
                    submitForm($(this), event, $("#accountSettingsMessage"), data);
                    }
                });
            });

        $(".item-input").on('input propertychange paste',() => $("#itemForm").submit());
        $(document).on("click", ".subscribeItem", (e) => ajaxToggleSubscribe(e));
        $("#fileUpload").on("change",() => $("#formFileUpload").submit());
        $("#uploadPicture").click(() => $("#fileUpload").click());

        (() => {
            loadWidgets("/api/GetItemWidgets/", @Model.Item.ItemId);

            $("#viewAsUser").click(function() {
                $("#userview").toggle();
                $("#adminview").toggle();
            });
        })(jQuery);

    </script>
}