@using System.Web.Optimization
@using BAR.BL.Domain.Items
@using BAR.UI.MVC.Helpers
@using BAR.UI.MVC.Models
@model BAR.UI.MVC.Models.ItemViewModels.PersonViewModel

@section CustomCSS{
    <link rel="stylesheet" href="../../Content/build/css/vendor/gridstack.css" />
}

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="clearfix"></div>

            @if (@User.IsInRole("Admin") || @User.IsInRole("SuperAdmin"))
            {
                <button id="viewAsUser" class="adminview btn btn-default btn-xs">Toggle adminview</button>
            }
            <!-- Current avatar -->
            <div id="userview">
                @Html.Partial("Partials/_DetailsAsUser", Model)
            </div>
            <div style="display: none" id="adminview">
                @Html.Partial("Partials/_DetailsAsAdmin", Model)
            </div>
        </div>
    </div>
</div>

<!-- Mentions widget -->
<div class="grid-stack item-page" id="mentions-grid"></div>

<h1 class="itemHeader">
    @Resources.PeopleWhoMention @Model.Item.Name
</h1>
<hr />

<!-- Widgets -->
<div class="grid-stack item-page" id="grid"></div>

<h1 class="itemHeader">
    @Resources.MoreInfoAbout @Model.Item.Name
</h1>
<hr />

<!-- More information widgets -->
<div class="grid-stack item-page" id="social-grid"></div>

<h1 class="itemHeader">
    @Resources.MorePeopleFrom <a href="@Url.OrganisationUrl(@Model.OrganisationId)">@Model.OrganisationName</a>
</h1>
<hr />
<div class="row">
    <div class="col-xs-12">
        <div class="x_panel max_height_460 scroll">
            <div class="x_content">
                <br />
                <div id="related-items">
                    @foreach (ItemViewModels.PersonViewModel person in @Model.PeopleFromSameOrg)
                    {
                        @Html.Partial("Partials/_RelatedItems", person)
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Partials/_SocialIcons")

@section CustomJS{
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v3.0';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="~/Scripts/ChartJS/Chart.js"></script>
    <script src="https://platform.twitter.com/widgets.js"></script>
    <script src="~/Scripts/jquery/jquery-ui.js"></script>
    <script src="~/Scripts/underscore.min.js"></script>
    <script src="~/Scripts/gridstack/gridstack.js"></script>
    <script src="~/Scripts/gridstack/gridstack.jQueryUI.js"></script>
    <script src="~/Content/build/js/widgets.js"></script>
    <script src="~/Content/build/js/admintoggle.js"></script>
    <script type="text/javascript" defer>(() => loadWidgets("/api/GetItemWidgets/", @Model.Item.ItemId))(jQuery);</script>
}