@model BAR.UI.MVC.Models.ExternalLoginConfirmationViewModel

@{
  ViewBag.Title = Resources.Signup;
}

@{
  var base64 = Convert.ToBase64String(Model.ImageData);
  var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}

<h2>@ViewBag.Title.</h2>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <h3>@Resources.ConnectYour @ViewBag.LoginProvider @Resources.Account.ToLower()</h3>
    </div>
</div>
@using (Html.BeginForm("ExternalLoginConfirmation", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
@Html.AntiForgeryToken()

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p class="text-info">
            @Resources.SuccesfullyLoggedInWith <strong>@ViewBag.LoginProvider</strong>.
            @Resources.FillTheRemainingFields
        </p>
    </div>
</div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Firstname, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Firstname, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Lastname, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Lastname, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.EnumDropDownListFor(m => m.Gender, Resources.SelectYourGender, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <img src="@imgSrc" />
                @Html.HiddenFor(model => model.ImageData)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="@Resources.Signup" />
            </div>
        </div>
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
