@model BAR.UI.MVC.Models.ForgotPasswordViewModel

@{
  ViewBag.Title = Resources.ForgotPasswordQuestion;
}

@using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
@Html.AntiForgeryToken()
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <h4>@Resources.EnterEmail</h4>
        </div>
    </div>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="@Resources.Email @Resources.Link" />
            </div>
        </div>
        }
