@using BAR.UI.MVC.Models
@model BAR.UI.MVC.Models.LoginViewModel

@{
  ViewBag.Title = Resources.Login;
}

@using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <h4>@Resources.LoginWithAccount</h4>
        </div>
    </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Log in" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <p>
                    @Html.ActionLink(Resources.SignupAsNewUser, "Register")
                </p>
                <p>
                    @Html.ActionLink(Resources.ForgotPasswordQuestion, "ForgotPassword")
                </p>
            </div>
        </div>
    <div class="form-group">
        <div class="col-md-2"></div>
        <div id="socialLoginForm" class="col-md-4">
            @Html.Partial("Partials/_ExternalLoginsListPartial", new ExternalLoginListViewModel {ReturnUrl = ViewBag.ReturnUrl})
        </div>
    </div>
    <div class="clearfix"></div>
        }