@using System.Web.Optimization
@using BAR.BL.Domain.Items
@using BAR.UI.MVC.Helpers
@model BAR.UI.MVC.Models.ItemViewModels.PersonViewModel

<div class="x_content">
    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
            <!-- Current avatar -->
            @Html.LoadProfilePicture(Model, "original", new {@class = "img-responsive avatar-view"})
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <button onclick="window.location = '@Url.OrganisationUrl(@Model.OrganisationId)';" class="btn btn-default btn-xs">@Model.OrganisationName</button>
        <h1>
            <span class="item-name">@Model.Item.Name <span class="badge bg-default">@(Model.Item.TrendingPercentage)% @Resources.Trending.ToLower()</span></span>
           @if (Model.Subscribed != true) {
                <a class="w-100px subscribeItem btn btn-success pull-right" data-item-id="@Model.Item.ItemId" title="Deze persoon volgen">@Resources.Subscribe</a>
            } else {
                <a class="w-100px subscribeItem btn btn-danger pull-right" data-item-id="@Model.Item.ItemId" title="Uitschrijven">@Resources.Unsubscribe</a>
            }
        </h1>
        <hr/>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
        <h4>
            <strong>@Model.Customization.PersonAlias @Resources.Details</strong>
        </h4>
        <ul class="list-unstyled user_data">
            <li>
                <i class="fa fa-map-marker user-profile-icon"></i> @Model.District
            </li>
            <li>
                <i class="fa fa-briefcase user-profile-icon"></i> @Model.Position
            </li>
            @if (@Model.Site.Any()) {
                <li class="m-top-xs">
                    <i class="fa fa-globe external-link user-profile-icon"></i>
                    <a href="https://@Model.Site" target="_blank">@Model.Site.Replace("http://", "").Replace("www.", "")</a>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
        <h4>
            <strong>@Resources.NumberOfMentions</strong>
        </h4>
        <h1>
            <div><strong class="totalNumberOfMentions">@Model.Item.NumberOfMentions</strong></div>
            @if (Model.RankNumberOfMentions == 1) {
                <div class="badge bg-gold">#@Model.RankNumberOfMentions @Resources.InNumberOfMentions.ToLower()</div>
            } else if (Model.RankNumberOfMentions == 2) {
                <div class="badge bg-silver">#@Model.RankNumberOfMentions @Resources.InNumberOfMentions.ToLower()</div>
            } else if (Model.RankNumberOfMentions == 3) {
                <div class="badge bg-bronze">#@Model.RankNumberOfMentions @Resources.InNumberOfMentions.ToLower()</div>
            } else {
                <div class="badge bg-green">#@Model.RankNumberOfMentions @Resources.InNumberOfMentions.ToLower()</div>
            }
            @if (Model.RankTrendingPercentage == 1) {
                <div class="badge bg-gold">#@Model.RankTrendingPercentage @Resources.InTrendingPercentage.ToLower()</div>
            } else if (Model.RankTrendingPercentage == 2) {
                <div class="badge bg-silver">#@Model.RankTrendingPercentage @Resources.InTrendingPercentage.ToLower()</div>
            } else if (Model.RankTrendingPercentage == 3) {
                <div class="badge bg-bronze">#@Model.RankTrendingPercentage @Resources.InTrendingPercentage.ToLower()</div>
            } else {
                <div class="badge bg-green">#@Model.RankTrendingPercentage @Resources.InTrendingPercentage.ToLower()</div>
            }
        </h1>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
        <h4>
            <strong>@Resources.SocialMedia</strong>
        </h4>
        @foreach (var item in Model.SocialMediaNames) {
            if (item.Source.SourceId == 1) {
                if (item.Username != null) {
                    <a href="http://www.twitter.com/@item.Username" class="social-icon" aria-label="Twitter">
                        <i class="fa fa-2x fa-twitter-square"></i>
                    </a>
                }
            }
            if (item.Source.SourceId == 2) {
                if (item.Username != null) {
                    <a href="@item.Username" class="social-icon" aria-label="Facebook">
                        <i class="fa fa-2x fa-facebook-square"></i>
                    </a>
                }
            }
        }
    </div>
</div>