@model BAR.UI.MVC.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    ViewBag.Title = Resources.ExternalLogin;
}

@{
  var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
  if (loginProviders.Count() != 0) {
      using (Html.BeginForm("ExternalLogin", "User", new { ReturnUrl = Model.ReturnUrl }))
      {
    @Html.AntiForgeryToken()
    <div id="socialLoginList">
        <p>
            @foreach (AuthenticationDescription p in loginProviders)
            {
            <button type="submit" class="btn @p.AuthenticationType-btn login-input w-100" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="@Resources.LoginUsingYour @p.Caption @Resources.Account.ToLower()">@Resources.LoginWith @p.AuthenticationType</button>
            }
        </p>
    </div>
      }
}
}