@using BAR.BL.Domain.Items
@using BAR.UI.MVC.Helpers
@model BAR.UI.MVC.Models.CustomizationViewModel

<table id="datatable-responsive" class="table" cellspacing="10px" width="100%">
    <colgroup>
        <col style="width: 30%">
        <col style="width: 60%">
        <col style="width: 10%">
    </colgroup>
    <thead>
        <tr>
            <th>
                @Resources.Question
            </th>
            <th>
                @Resources.Answer
            </th>
            <th>
                @Resources.Delete
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var faq in Model.Questions)
        {
        <tr class="subscription">
            <td>
                @faq.Title
            </td>
            <td>
                @faq.Answer
            </td>
            <td>
                <a class="removeItem btn btn-danger btn-xs" data-question-id=@faq.QuestionId title=@Resources.Remove>@Resources.Remove</a>
            </td>
        </tr>
        }
    </tbody>
</table>