@using BAR.UI.MVC.Controllers
@using BAR.UI.MVC.Helpers
@model BAR.UI.MVC.Models.BaseViewModel

@Html.FooterHelper(Model)
<footer>
    <div class="margin-aligned">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <ul>
                <li>
                    <a href='@Url.RootUrl()'>
                        <i class="small-logo colored"></i>
                    </a>
                </li>
                <li>
                    &copy; @DateTime.Now.Year - Barometer
                </li>
                <li>
                    <button href="mailto:@Model.ContactEmail" class="btn btn-default">@Resources.EmailUs</button>
                </li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <h4>@Resources.Links</h4>
            <ul>
                <li>
                    <a href="@Url.RootUrl()">@Resources.Home</a>
                </li>
                <li>
                    <a href="@Url.DashboardUrl()">@Resources.Dashboard</a>
                </li>
                <li>
                    <a href="@Url.PersonUrl()">@Resources.Politicians</a>
                </li>
                <li>
                    <a href="@Url.OrganisationUrl()">@Resources.Parties</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <h4>@Resources.MoreInfo</h4>
            <ul>
                <li>
                    <a href='#'>Login/Signup</a>
                </li>
                <li>
                    <a href="@Url.FaqUrl()">@Resources.QuestionAndAnswer</a>
                </li>
                <li>
                    <a href="@Url.PrivacyUrl()">@Resources.Privacy</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <h4>@Resources.Contact</h4>
            <ul>
                <li>
                    @Model.ContactStreet
                </li>
                <li>
                    @Model.ContactCity
                </li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <h4>Talen</h4> <!--  // MOET NOG LANGUAGE SUPPORT BIJ !!!!!!! -->
           @Html.Partial("Partials/_LanguagePreferences")
        </div>
    </div>
    <div class="clearfix"></div>
</footer>