@using BAR.BL.Domain.Items
@using BAR.UI.MVC.Helpers
@model BAR.UI.MVC.Models.ItemViewModels.ItemViewModel

<table id="datatable-responsive" class="table" cellspacing="10px" width="100%">

    <colgroup>
        <col style="width: 30%">
        <col style="width: 12%">
        <col style="width: 8%">
        <col style="width: 8%">
        <col style="width: 8%">
        <col style="width: 8%">
        <col style="width: 13%">
        <col style="width: 100px">
    </colgroup>
    <thead>
    <tr>
        <th>
            Naam
        </th>
        <th>
            Categorie
        </th>
        <th>
            Vermeldingen
        </th>
        <th>
            Positief
        </th>
        <th>
            Negatief
        </th>
        <th title="Berekend op basis van het aantal tweets">
            Trending
        </th>
        <th>
            Aanmaak datum
        </th>
        @if (User.Identity.IsAuthenticated) {
            <th>
            </th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items) {
        <tr class="subscription">
            <td>
                @Html.TextBoxFor(i => item.Name, new {@class = "renameItem form-control", data_item_id = @item.ItemId})
            </td>
            <td>
                @item.ItemType
            </td>
            <td>
                @item.NumberOfMentions
            </td>
            <td class="green">
                @item.NumberOfMentions
                <i class="glyphicon glyphicon-arrow-up"></i>
            </td>
            <td class="red">
                @item.NumberOfMentions
                <i class="glyphicon glyphicon-arrow-down"></i>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrendingPercentage) %
            </td>
            <td>
                @item.CreationDate.ToShortDateString()
            </td>
            <td>
                @if (item.Deleted) {
                    <a class="removeItem btn btn-dark btn-xs" data-item-id="@item.ItemId" title="Item herstellen">Herstellen</a>
                } else {
                    <a class="removeItem btn btn-danger btn-xs" data-item-id="@item.ItemId" title="Item verwijderen">Verwijderen</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>