@using BAR.UI.MVC
@using BAR.UI.MVC.App_GlobalResources
@using BAR.UI.MVC.Helpers
@using Microsoft.AspNet.Identity.EntityFramework
@model BAR.UI.MVC.Models.BaseViewModel
<ul class="nav navbar-nav navbar-right">
    <!-- Items -->
    <li class="dropdown navbar-left">
        <a href="" class="dropdown-toggle item-menu" data-toggle="dropdown"
           aria-expanded="false">
            <i class="fa fa-users"></i>
        </a>
        <ul class="dropdown-menu pull-right">
            <li>
                <a href="@Url.PersonUrl()"><i class="fa fa-users"></i>@Model.Customization.PersonsAlias</a>
            </li>
            <li>
                <a href="@Url.OrganisationUrl()"><i class="fa fa-briefcase"></i>@Model.Customization.OrganisationsAlias</a>
            </li>
            <li>
                <a href='@Url.ThemeUrl()'><i class="fa fa-tag"></i>@Model.Customization.ThemesAlias</a>
            </li>
        </ul>
    </li>
    <!-- /Items -->
    
    <!-- Dashboard / weekly review -->
    <li class="dropdown navbar-left">
        <a href="" class="dropdown-toggle dashboard-menu" data-toggle="dropdown"
           aria-expanded="false">
            <i class="fa fa-bar-chart"></i>
        </a>
        <ul class="dropdown-menu pull-right">
            <li>
                <a href="@Url.DashboardUrl()"><i class="fa fa-bar-chart"></i>@Resources.Dashboard</a>
            </li>
            <li>
                <a href="@Url.UserWeeklyReview()"><i class="fa fa-calendar"></i>@Resources.WeeklyReview</a>
            </li>
        </ul>
    </li>
    <!-- /Dashboard / weekly review -->

    <!-- profile -->
    <li class="dropdown user-profile">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"
           aria-expanded="false">
            @Html.ImageHelper(@Url.ProfilePictureUrl(), htmlAttributes: new {@class = "img-circle person-image-top", onerror = "this.onload = null; this.src='/Content/build/images/user.png';"})
            <span class="userNameNav">@Model.User.FirstName</span>
        </a>
        <ul class="dropdown-menu pull-right user-menu">
            <li>
                <a href="@Url.SettingsUrl()"><i class="fa fa-gear"></i>@Resources.Settings</a>
            </li>
            <li>
                @using (Html.BeginForm("LogOff", "User", FormMethod.Post, new {id = "logoutForm2"}))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm2').submit()"><i class="fa fa-sign-out"></i>@Resources.Logout</a>
                }
            </li>
            @Html.ShowAdminLinks(User)
            @Html.ShowSuperAdminLinks(User)
        </ul>
    </li>
    <!-- /profile -->

    <!-- alerts -->
    <li role="presentation" class="dropdown">
        <a id="alertDropdown" href="" class="dropdown-toggle info-number" data-toggle="dropdown"
           aria-menu1expanded="false">
            <i class="fa fa-bell"></i>
            <span id="alertCount" class="badge bg-green"></span>
        </a>
        <div class="dropdown-menu msg_list" role="menu">
            <ul class="list-unstyled msg_list msg_headers">
                <li class="alertMenuHeader">
                    <strong>@Resources.Alerts</strong>
                </li>
                <li class="alertWindowsSettings">
                    <a href="@Url.SettingsUrl()">@Resources.Settings</a>
                </li>
            </ul>
            <ul id="alertMenu" class=" list-unstyled msg_list">
            </ul>
        </div>
    </li>
    <!-- /alerts -->
</ul>

