@using BAR.UI.MVC.Helpers
<li>
    <a href="@Url.PersonUrl()"><i class="fa fa-users"></i>@Resources.Politicians</a>
</li>
<li>
    <a href="@Url.OrganisationUrl()"><i class="fa fa-briefcase"></i>@Resources.Parties</a>
</li>
<li>
    <a href='#'><i class="fa fa-tag"></i>@Resources.Topics</a>
</li>
@Html.Partial("Partials/_LanguagePreferences")