@using BAR.UI.MVC.Helpers
<li class="divider-top">
    <a href="@Url.AdminDashboard()"><i class="fa fa-pie-chart"></i>@Resources.Admin @Resources.Dashboard</a>
</li>
<li>
    <a href="@Url.PageManagement()"><i class="fa fa-edit"></i>@Resources.PageManagement</a>
</li>
<li>
    <a href="@Url.ItemManagement()"><i class="fa fa-object-group"></i>@Resources.ItemManagement</a> <!-- en content importeren -->
</li>
<li>
    <a href="@Url.UserManagement()"><i class="fa fa-users"></i>@Resources.UserManagement</a> <!-- en gebruikers export -->
</li>