@using BAR.BL.Domain.Items
@using BAR.UI.MVC.Helpers
@model BAR.UI.MVC.Models.ItemViewModels.ItemViewModel

<table class="datatable-infinite table" cellspacing="10px" width="100%">
    <colgroup>
        <col style="width: 40px">
        <col style="width: 35%">
        <col style="width: 15%">
        <col style="width: 12%">
        <col style="width: 12%">
        <col style="width: 12%">
        <col style="width: 75px">
    </colgroup>
    <thead>
    <tr>
        <th>
        </th>
        <th>
            @Resources.Name
        </th>
        <th>
            @Resources.Mentions
        </th>
        <th>
            @Resources.Positive
        </th>
        <th>
            @Resources.Negative
        </th>
        <th title=@Resources.CalculatedByAmountOfTweets>
            @Resources.Trending
        </th>
        <th>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items) {
        <tr class="subscription">
            <td>
                <img src='/Content/build/images/organisation.png' class="img-circle person-image"/>
            </td>
            <td>
                <a href='@Url.OrganisationUrl(item.ItemId)'> @item.Name</a>
            </td>
            <td>
                @item.NumberOfMentions
            </td>
            <td class="green">
                @item.SentimentPositive%
                <i class="glyphicon glyphicon-arrow-up"></i>
            </td>
            <td class="red">
                @item.SentimentNegative%
                <i class="glyphicon glyphicon-arrow-down"></i>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrendingPercentage) %
            </td>
            <td>
                @if (item.Subscribed != true) {
                <a class="subscribeItem btn btn-success btn-xs" data-item-id="@item.ItemId" title=@Resources.FollowThisPerson>@Resources.Subscribe</a>
                } else {
                <a class="subscribeItem btn btn-danger btn-xs" data-item-id="@item.ItemId" title=@Resources.Unsubscribe>@Resources.Unsubscribe</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>