@using BAR.BL.Domain.Items
@using BAR.UI.MVC.Helpers
@model BAR.UI.MVC.Models.ItemViewModels.PersonViewModels

<table id="datatable-infinite" class="table" cellspacing="10px" width="100%">
    <colgroup>
        <col style="width: 40px">
        <col style="width: 35%">
        <col style="width: 15%">
        <col style="width: 12%">
        <col style="width: 12%">
        <col style="width: 12%">
        <col style="width: 75px">
    </colgroup>
    <thead>
    <tr>
        <th>
        </th>
        <th>
            @Resources.Name
        </th>
        <th>
            @Resources.Mentions
        </th>
        <th>
            @Resources.Positive
        </th>
        <th>
            @Resources.Negative
        </th>
        <th title=@Resources.CalculatedByAmountOfTweets>
            @Resources.Trending
        </th>
        @if (User.Identity.IsAuthenticated) {
            <th>
            </th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var person in Model.Persons) {
        <tr class="subscription">
            <td>
            @if (person.Item.Picture != null) {
                @Html.ImageHelper(@Url.Action("Picture", "Person", new {itemId=person.Item.ItemId}), htmlAttributes: new {@class = "img-circle person-image",                      
                    onerror = "this.onload = null; this.src='https://twitter.com/"+@person.SocialMediaNames.First(s => s.Source.Name == "Twitter").Username+"/profile_image?size=normal';"
                });
            } else if (person.SocialMediaNames.FirstOrDefault(s => s.Source.Name == "Twitter") != null) {
                <img src='https://twitter.com/@person.SocialMediaNames.First(s => s.Source.Name == "Twitter").Username/profile_image?size=normal'
                     class="img-circle person-image"
                     onerror = "this.onload = null; this.src='/Content/build/images/picture.jpg';"/>
            } else {
                <img src='/Content/build/images/picture.jpg' class="img-circle person-image"/>
            }
            <td>
                <a href='@Url.PersonUrl(person.Item.ItemId)'> @person.Item.Name</a>
            </td>
            <td>
                @person.Item.NumberOfMentions
            </td>
            <td class="green">
                @person.Item.SentimentPositive%
                <i class="glyphicon glyphicon-arrow-up"></i>
            </td>
            <td class="red">
                @person.Item.SentimentNegative%
                <i class="glyphicon glyphicon-arrow-down"></i>
            </td>
            <td>
                @Html.DisplayFor(modelItem => person.Item.TrendingPercentage) %
            </td>
            @if (User.Identity.IsAuthenticated) {
                <td>
                    @if (@person.Subscribed) {
                        <a class="subscribeItem btn btn-danger btn-xs" data-item-id="@person.Item.ItemId" title=@Resources.Unsubscribe>@Resources.Unsubscribe</a>
                    } else {
                        <a class="subscribeItem btn btn-success btn-xs" data-item-id="@person.Item.ItemId" title=@Resources.FollowThisPerson>@Resources.Subscribe</a>
                    }
                </td>
            }
        </tr>
    }
    </tbody>
</table>