@using BAR.UI.MVC.Models
@model BAR.UI.MVC.Models.RegisterViewModel

@using (Html.BeginForm("Register", "User", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.TextBoxFor(m => m.Firstname, new {@class = "form-control login-input", @placeholder = Resources.Firstname})
        @Html.TextBoxFor(m => m.Email, new {@class = "form-control login-input", @placeholder = Resources.Email})
        @Html.PasswordFor(m => m.Password, new {@class = "form-control login-input", @placeholder = Resources.Password})
        <div class="form-check login-input">
            <div class="checkbox">
                <span class="character-checkbox" id="chbox" onclick="check()"></span>
                <span class="checkbox-label c-secondary">@Resources.IAgreeWithTheTermsAndCondition</span>
            </div>
            <button type="submit" class="btn btn-primary login-input w-100 h-40">@Resources.Signup</button>
        </div>
    </div>
}