@using BAR.UI.MVC.Helpers
@using BAR.UI.MVC.Models
@model BAR.UI.MVC.Models.ItemViewModels.PersonViewModel

<div class='org-member col-xs-6 col-sm-4 col-md-2'>

    <a href="@Url.PersonUrl(@Model.Item.ItemId)">
        @Html.LoadProfilePicture(Model, "original", new {@class = "img-responsive related-img-view"})
    </a>
    <strong>
        <a href="@Url.PersonUrl(@Model.Item.ItemId)">@Model.Item.Name</a>
    </strong>
    <div>@Resources.Mentions: @Model.Item.NumberOfMentions</div>
</div>