@using BAR.UI.MVC.Models
@model BAR.UI.MVC.Models.BaseViewModel


<div class="nav navbar-nav searchbar">
    <form class="navbar-form navbar-search zero-margin no-padding" role="search">
        <div class="input-group zero-margin">
            
            <div class="input-group-btn">
                <button type="button" class="btn btn-search h-40">
                    <i class="fa fa-search font_18"></i>
                </button>
            </div>
            <input id="searchbar" type="text" class="form-control search-field h-40" placeholder="    @Resources.SearchFor @Model.Customization.PersonsAlias.ToLower(), @Model.Customization.OrganisationsAlias.ToLower() @Resources.And @Model.Customization.ThemesAlias.ToLower()">
        </div>
    </form>
</div>
