﻿@model BAR.UI.MVC.Models.SourceManagement

<table id="datatable-responsive" class="table" cellspacing="10px" width="100%">

    <colgroup>
        <col style="width: 15%">
        <col style="width: 45%">
        <col style="width: 11%">
        <col style="width: 21%">
        <col style="width: 8%">
    </colgroup>
    <thead>
        <tr>
            <th>
                @Resources.Name
            </th>
            <th>
                @Resources.Site
            </th>
            <th>
                @Resources.Interval
            </th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.DataSources.Count(); i++)
        {
        <tr>
            <td>
                @Model.DataSources.ElementAt(i).Name
            </td>
            <td>
                @Model.DataSources.ElementAt(i).Url
            </td>
            <td>
                @Html.TextBoxFor(m => m.Interval.ElementAt(i), new { @class = "renameItem form-control", source_interval = Model.Interval.ElementAt(i) })
                <span style="display:none">@Model.Interval.ElementAt(i)</span>
            </td>
            <td>
                <btn class="sourceChange btn btn-danger btn-xs" id="@Convert.ToString(Model.DataSources.ElementAt(i).DataSourceId)" title="@Resources.RemoveSource">@Resources.Remove</btn>
            </td>
        </tr>
        }
    </tbody>
</table>
