﻿@model BAR.UI.MVC.Models.SourceManagement

<table id="datatable-responsive" class="table" cellspacing="10px" width="100%">

    <colgroup>
        <col style="width: 15%">
        <col style="width: 45%">
        <col style="width: 11%">
        <col style="width: 21%">
        <col style="width: 8%">
    </colgroup>
    <thead>
        <tr>
            <th>
                @Resources.Name
            </th>
            <th>
                @Resources.Site
            </th>
            <th>
            @Resources.Interval
            <th>
            </th>
            <th>
            @Resources.SetTime
            </th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Sources.Count(); i++)
        {
        <tr>
            <td>
                @Model.Sources.ElementAt(i).Name
            </td>
            <td>
                @Model.Sources.ElementAt(i).Site
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Interval, new { @class = "renameItem form-control", interval = @Model.Interval })
                <span style="display:none">@Model.Interval</span>
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.SetTime, new { @class = "renameItem form-control", settime = @Model.SetTime })
                <span style="display:none">@Model.SetTime</span>
            </td>
            <td>
                <btn class="sourceChange btn btn-danger btn-xs" id="@Convert.ToString(Model.Sources.ElementAt(i).SourceId)" title="@Resources.RemoveSource">@Resources.Remove</btn>
            </td>
        </tr>
        }
    </tbody>
</table>
