@using BAR.BL.Domain.Items
@using BAR.UI.MVC.Helpers
@model BAR.UI.MVC.Models.SubPlatformManagement

<table id="datatable-responsive" class="table" cellspacing="10px" width="100%">
    <colgroup>
        <col style="width: 50%">
        <col style="width: 50%">
    </colgroup>
    <thead>
        <tr>
            <th>
                @Resources.Name
            </th>
            <th>
                @Resources.CreationDate
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subplatform in Model.SubPlatforms)
        {
        <tr class="subscription">
            <td>
                <a href=@Html.Raw("https://" + @subplatform.Name + Html.Raw(".localhost:44317"))>@subplatform.Name</a>
            </td>
            <td>
                @subplatform.CreationDate
            </td>
        </tr>
        }
    </tbody>
</table>