@using BAR.UI.MVC.Controllers
@using BAR.UI.MVC.Helpers
@using Microsoft.AspNet.Identity.EntityFramework
@model BAR.UI.MVC.Models.BaseViewModel
<ul class="nav navbar-nav navbar-right">
    <li class="user-profile">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"
           aria-expanded="false">
            <img src="../../Content/build/images/user.png" alt=""><span class="userNameNav">@Html.DisplayFor(modelItem => Model.User.FirstName)</span>
            <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu pull-right">
            <li>
                <ul>
                    <li>
                        <a href='@Url.DashboardUrl()'><i class="fa fa-bar-chart"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href='@Url.SettingsUrl()'><i class="fa fa-gear"></i> Instellingen</a>
                    </li>
                    <li>
                        <a href='@Url.SettingsUrl()'><i class="fa fa-bell"></i> Alert instellingen</a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="fa fa-calendar"></i> Weekly review</a>
                    </li>
                    <li>
                        @using (Html.BeginForm("LogOff", "User", FormMethod.Post, new {id = "logoutForm2"})) {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm2').submit()"><i class="fa fa-sign-out"></i> Uitloggen</a>
                        }
                    </li>
                </ul>
            </li>
            @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin")) {
                <li class="divider-top">
                    <ul>
                        <li>
                            <a href='@Url.AdminDashboard()'><i class="fa fa-pie-chart"></i> Admin dashboard</a>
                        </li>
                        <li>
                            <a href='@Url.PageManagement()'><i class="fa fa-edit"></i> Pagina's beheren</a>
                        </li>
                        <li>
                            <a href='@Url.ItemManagement()'><i class="fa fa-object-group"></i> Items beheren</a> <!-- en content importeren -->
                        </li>
                        <li>
                            <a href='@Url.UserManagement()'><i class="fa fa-users"></i> Gebruikers beheren</a> <!-- en gebruikers export -->
                        </li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("SuperAdmin")) {
                <li class="divider-top">
                    <ul>
                        <li>
                            <a href='@Url.SourceManagement()'><i class="fa fa-paperclip"></i> Bronnen beheren</a>
                        </li>
                        <li>
                            <a href='@Url.AdminManagement()'><i class="fa fa-user-plus"></i> Admins beheren</a>
                        </li>
                        <li>
                            <a href='@Url.PlatformManagement()'><i class="fa fa-bank"></i> Deelplatformen beheren</a>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    </li>
    <!-- alerts -->
    <li role="presentation" class="dropdown">
        <a id="alertDropdown" href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown"
           aria-menu1expanded="false">
            <i class="fa fa-bell"></i>
            <span id="alertCount" class="badge bg-green"></span>
        </a>
        <div class="dropdown-menu msg_list" role="menu">
            <ul class="list-unstyled msg_list msg_headers">
                <li class="alertMenuHeader">
                    <strong>Alerts</strong>
                </li>
                <li class="alertWindowsSettings">
                    <a>Intellingen</a>
                </li>
            </ul>
            <ul id="alertMenu" class=" list-unstyled msg_list">
            </ul>
        </div>
    </li>
</ul>