<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"]</title>

    <!-- Bootstrap -->
    <link href="../../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../../vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="../../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="../../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="../../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    @if (IsSectionDefined("CustomCSS")) {
        @RenderSection("CustomCSS")
    }

    <!-- Custom Theme Style -->
    <link href="../../Content/build/css/custom.css" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
<div class="main_container">
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/" class="site_title">
                <i class="fa fa-paw font_22"></i> <span>Politieke Barometer</span>
            </a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="../../Content/images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>John Doe</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br/>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <li>
                        <a><i class="fa fa-clock-o"></i> Dashboard <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>@Html.ActionLink("Niet-ingelogd", "Index", "Home")</li>
                            <li>@Html.ActionLink("Ingelogd", "Ingelogd", "Home")</li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-bar-chart-o"></i> Overzichten <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>@Html.ActionLink("Personen", "Index", "Personen")</li>
                            <li>
                                <a href="form_advanced.html">Partijen</a>
                            </li>
                            <li>
                                <a href="form_validation.html">Thema's</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="menu_section">
                <h3>Extra</h3>
                <ul class="nav side-menu">
                    <li>
                        <a>
                            <i class="fa fa-clone"></i> Meer informatie
                            <span
                                class="fa fa-chevron-down">
                            </span>
                        </a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="e_commerce.html">Privacy</a>
                            </li>
                            <li>
                                <a href="projects.html">FAQ</a>
                            </li>
                            <li>
                                <a href="project_detail.html">Contact</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>

<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle">
                    <i class="fa fa-bars"></i>
                </a>
            </div>

            <!-- login -->
            <ul class="nav navbar-nav navbar-right">
                <li class="signup">
                    <a class="signup" href="javascript:;">Sign Up</a>
                </li>
                <li class="">
                    <a href="javascript:;">Sign In</a>
                </li>
            </ul>
            <!-- search -->
            <div class="nav navbar-nav searchbar">
                <form class="navbar-form navbar-search zero-margin" role="search">
                    <div class="input-group zero-margin w-100">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-search btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-search"></span>
                                <span class="label-icon">Search</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-left dropdown-search pull-left" role="menu">
                                <li>
                                    <a href="#">
                                        <span class="fa fa-user"></span>
                                        <span class="label-icon">Personen</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-briefcase"></span>
                                        <span class="label-icon">Partijen</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-paperclip"></span>
                                        <span class="label-icon">Thema's</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
        
                        <input type="text" class="form-control search-field" placeholder="Zoeken naar ...">
                
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-search btn-default">
                                GO
                            </button>
                        </div>
                    </div>  
                </form>  
            </div>
        </nav>
    </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col" role="main">
    @RenderBody()
</div>
<!-- /page content -->

<!-- footer content -->
<footer>
    <div class="pull-right">
        &copy; @DateTime.Now.Year - Barometer
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<!-- Scripts -->
<environment names="Development">
    <!-- jQuery -->
    <script src="../../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../../vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="../../vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="../../vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="../../vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="../../vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="../../vendors/Flot/jquery.flot.js"></script>
    <script src="../../vendors/Flot/jquery.flot.pie.js"></script>
    <script src="../../vendors/Flot/jquery.flot.time.js"></script>
    <script src="../../vendors/Flot/jquery.flot.stack.js"></script>
    <script src="../../vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="../../vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="../../vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="../../vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="../../vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="../../vendors/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="../../vendors/jqvmap/dist/maps/jquery.vmap.belgium.js"></script>
    <script src="../../vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="../../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../../vendors/moment/min/moment.min.js"></script>
    <script src="../../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

</environment>
@RenderSection("scripts", required: false)

@if (IsSectionDefined("CustomJS")) {
    @RenderSection("CustomJS")
}

<!-- Custom Theme Scripts -->
<script src="../../Content/build/js/custom.js"></script>
<script src="../../Content/searchbar.js"></script>

</body>
</html>