@using System
@using System.Activities.Statements
@using System.Web.Optimization
@using BAR.UI.MVC.Controllers
@using BAR.UI.MVC.Helpers
@using BAR.UI.MVC.Models
@using MvcSiteMapProvider.Web.Html
@model BAR.UI.MVC.Models.BaseViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@(Model.PageTitle.Length == 0 ? @ViewBag.Title : Model.PageTitle)</title>
    <link href="~/Scripts/datatables/datatables.net-bs/css/dataTablesbootstrapmin.css" rel=" stylesheet" />
    <link href="~/Scripts/datatables/datatables.net-responsive-bs/css/responsivebootstrapmin.css" rel=" stylesheet" />
    <link href="~/Content/build/css/vendor/bootstrapmin.css" rel=" stylesheet" />
    <link href="~/Content/build/css/vendor/font-awesomemin.css" rel=" stylesheet" />
    <link href="~/Content/build/css/vendor/bootstrap-progressbar-334min.css" rel=" stylesheet" />
    <link href="~/Content/build/css/vendor/jqvmapmin.css" rel=" stylesheet" />
    <link href="~/Content/build/css/vendor/nprogress.css" rel=" stylesheet" />


    @if (IsSectionDefined("CustomCSS"))
    {
        @RenderSection("CustomCSS")
    }

    <!-- Custom Theme Style -->
    <link href="~/Content/build/css/custom.css" rel="stylesheet" />
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body class="nav-sm">
    <div class="container body">
        <div class="main_container">

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="navbar" style="border: 0;">
                        <a href='@Url.RootUrl()'>
                            <i class="small-logo colored"></i>
                        </a>
                    </div>

                    <!-- login -->
                    @Html.ShowNavLogin(Model)
                    <!-- search -->
                    @Html.Partial("Partials/_SearchBar")
                </div>
            </div>
            <!-- /top navigation -->
            <!-- breadcrumbs -->
            <!-- page content -->
            @if (IsSectionDefined("Homepage"))
            {
                @RenderSection("Homepage")
            }

            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- navbar left -->
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar" style="border: 0;">
                        <a href='@Url.RootUrl()'>
                            <i class="small-logo"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                @Html.LeftNavBarHelper(Model)
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->

                </div>
                <div class="hover-nav">
                    <a id="menu_toggle">
                        <div class="nav toggle">
                            <i class="fa fa-arrow-left"></i>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /navbar left -->
            <!-- footer content -->
            @Html.Partial("Partials/_Footer")
            <!-- /footer content -->
        </div>
    </div>
    <!-- Scripts -->
    <script src="/Home/GetResources"></script>
    
    <script src="~/Scripts/jquery/jquery-331min.js"></script>
    <script src="~/Scripts/jquery/jqueryautocompletemin.js"></script>
   
    <script src="~/Content/build/js/searchbar.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/dates/datemin.js"></script>
    <script src="~/Scripts/dates/momentmin.js"></script>
    <script src="~/Scripts/dates/daterangepickermin.js"></script>
    <script src="~/Scripts/jquery/jquerytimeago.js"></script>
    <script src="~/Content/build/js/alerts.js""></script>
    @if (IsSectionDefined("CustomJS"))
    {@RenderSection("CustomJS")}
    <!-- Custom Theme Scripts -->
    
    <script src="/Content/build/js/custom.js"></script>
    <script defer>
        (() => {
            $(".culture", ".left_col").click(function () {
                $(this).parents("form").submit(); // post form
            });
        })($)
    </script>

</body>
</html>