@using System
@using System.Web.Optimization
@using BAR.UI.MVC.Controllers
@using BAR.UI.MVC.Helpers
@using BAR.UI.MVC.Models
@using MvcSiteMapProvider.Web.Html
@model BAR.UI.MVC.Models.BaseViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@(Model.PageTitle.Length == 0 ? @ViewBag.Title : Model.PageTitle)</title>

    <link href="~/Content/build/css/vendor/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/build/css/vendor/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/build/css/vendor/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <link href="~/Content/build/css/vendor/jqvmap.min.css" rel="stylesheet" />

    @if (IsSectionDefined("CustomCSS"))
    {
        @RenderSection("CustomCSS")
    }

    <!-- Custom Theme Style -->
    <link href="~/Content/build/css/custom.css" rel="stylesheet" />

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body class="nav-sm" style="overflow-y: scroll;overflow-x: hidden;">
    <div class="container body">
        <div class="main_container">

            <!-- page content -->
            @if (IsSectionDefined("Homepage"))
            {
                @RenderSection("Homepage")
            }
            @RenderBody()

            <!-- /page content -->

        </div>
    </div>

    <!-- Scripts -->
    <script src="/Home/GetResources"></script>
    <script src="/Home/GetResources"></script>
    <script src="~/Scripts/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery/jquery.autocomplete.min.js"></script>
    <script src="~/Content/build/js/searchbar.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/dates/date.min.js"></script>
    <script src="~/Scripts/dates/moment.min.js"></script>
    <script src="~/Scripts/dates/daterangepicker.js"></script>
    <script src="~/Scripts/jquery/jquery.timeago.js"></script>
    <script src="~/Content/build/js/template.js"></script>
    <script src="~/Content/build/js/searchbar.js"></script>
    <script src="~/Content/build/js/custom.js"></script>
    <script src="~/Content/build/js/alerts.js"></script>
    @if (IsSectionDefined("CustomJS"))
    {
        @RenderSection("CustomJS")
    }
    <!-- Custom Theme Scripts -->
    <script src="~/Content/build/js/template.js"></script>
    <script src="~/Content/build/js/searchbar.js"></script>
    <script src="~/Content/build/js/custom.js"></script>
    <script defer>
        (() => {
            $(".culture", ".left_col").click(function () {
                $(this).parents("form").submit(); // post form
            });
        })($)
    </script>

</body>
</html>