@using System
@using System.Web.Optimization
@using BAR.UI.MVC.Controllers
@using BAR.UI.MVC.Helpers
@using BAR.UI.MVC.Models
@using MvcSiteMapProvider.Web.Html
@model BAR.UI.MVC.Models.BaseViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@(Model.PageTitle.Length == 0 ? @ViewBag.Title : Model.PageTitle)</title>

    @Styles.Render("~/Content/css")

    @if (IsSectionDefined("CustomCSS"))
    {
    @RenderSection("CustomCSS")
    }

    <!-- Custom Theme Style -->
    @Styles.Render("~/Content/custom")

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body class="nav-sm" style="overflow-y: scroll;overflow-x: hidden;">
    <div class="container body">
        <div class="main_container">

            <!-- page content -->
            @if (IsSectionDefined("Homepage"))
            {
            @RenderSection("Homepage")
            }
            @RenderBody()
            
            <!-- /page content -->
            
        </div>
    </div>

    <!-- Scripts -->
    <script src="/Home/GetResources"></script>
    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap", "~/bundles/dates", "~/bundles/timeago", "~/Scripts/vue.min.js")
    @Scripts.Render("~/Content/build/js/alerts.js")

    @if (IsSectionDefined("CustomJS"))
    {
    @RenderSection("CustomJS")
    }
    <!-- Custom Theme Scripts -->
    @Scripts.Render("~/bundles/custom")
    <script defer>
        (() => {
            $(".culture", ".left_col").click(function () {
                $(this).parents("form").submit(); // post form
            });
        })($)
    </script>

</body>
</html>