@using System.Web.Optimization
@using BAR.UI.MVC.Helpers

@section CustomCSS {
    <link rel="stylesheet" href="../../Content/build/css/vendor/gridstack.css" />
}

<h1>@Model.PageTitle</h1>
<hr/>
<section class="admin-dashboard">
    <div class="grid-stack" id="admin-grid"></div>
</section>

<div class="clearfix"></div>

<div class="row">
    <section class="col-md-4 col-xs-12">
        <div class="card-url">
            <i class="fa fa-edit"></i>
            <div>@Resources.PageManagement</div>
            <a class="card-link" href="@Url.PageManagement()"></a>
        </div>
    </section>

    <section class="col-md-4 col-xs-12">
        <div class="card-url">
            <i class="fa fa-object-group"></i>
            <div>@Resources.ItemManagement</div>
            <a class="card-link" href="@Url.ItemManagement()"></a>
        </div>
    </section>

    <section class="col-md-4 col-xs-12">
        <div class="card-url">
            <i class="fa fa-users"></i>
            <div>@Resources.UserManagement</div>
            <a class="card-link" href="@Url.UserManagement()"></a>
        </div>
    </section>
</div>

<div class="clearfix"></div>

@section CustomJS {
    <script src="~/Scripts/ChartJS/Chart.js"></script>
    @Scripts.Render("~/bundles/gridstack")
    <script src="~/Content/build/js/admindashboard.js"></script>
}