@using System.Web.Optimization
@model BAR.UI.MVC.Models.ItemViewModels.ItemViewModel

@section CustomCSS{
    @Styles.Render("~/bundles/datatables-css", "~/bundles/datatables-buttons-css")
}


@using (Html.BeginForm("UploadJson", "Admin", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
{
<h1>
    @Model.PageTitle
    <label for="fileUpload" class="btn btn-dark btn-xs" style="display: inline;">@Resources.ImportContent</label>
    <input type="file" style="display:none;" class="btn btn-dark" name="jsonFile" id="fileUpload" accept=".json" />
    <button type="submit" id="btnSubmit" style="visibility:hidden;" class="btn btn-dark">@Resources.Save</button>
</h1>
}

@using (Html.BeginForm("UploadThemes", "Admin", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
{
    <label for="themeFileUpload" class="btn btn-dark btn-xs" style="display: inline;">Import Themes</label>
    <input type="file" style="display:none;" class="btn btn-dark" name="jsonFileThemes" id="themeFileUpload" accept=".json" />
    <button type="submit" id="btnThemeSubmit" style="visibility:hidden;" class="btn btn-dark">@Resources.Save</button>
}

@Html.Partial("Partials/_CreateItemModal")

<hr />


@Html.Partial("Partials/_ItemTable", Model)

<div style="visibility: hidden">space</div>


@section CustomJS{
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/datatables-buttons", "~/bundles/datatables-buttons-bs")
    <script type="text/javascript">
        (() => {
            var wto;
            $(".removeItem").click(function() {
                clearTimeout(wto);
                var $this = $(this);
                var id = $this.data('item-id');
                var text = $this.html();
                $this.html("<i class='fa fa-circle-o-notch fa-spin'></i>");
                wto = setTimeout(function() {
                        $.ajax({
                                type: 'POST',
                                url: '/api/Admin/ToggleDeleteItem/' + id
                            }).fail(() => { alert("@Resources.CannotRemoveItem") })
                            .done(function() {
                                if (text === "@Resources.Recover") $this.html("@Resources.Remove");
                                else $this.html("@Resources.Recover");
                                $this.toggleClass("btn-danger btn-dark");
                            });
                    },
                    500);
            });

            $(".renameItem").on('input propertychange paste',
                function() {
                    clearTimeout(wto);
                    var $this = $(this);
                    var id = $this.data('item-id');
                    $this.addClass("loadMessage");
                    wto = setTimeout(function() {
                            $.ajax({
                                    type: 'POST',
                                    url: '/api/Admin/RenameItem/' + id + '/' + $this.val()
                                }).fail(() => { /**/ })
                                .done(function() {
                                    $this.removeClass("loadMessage");
                                });
                        },
                        1000);
                });
            $('#datatable-buttons').dataTable({
                "sScrollY": "700px",
                "paging": true
            });

        })($);
    </script>
    <script>
        $(document).ready(function () {
            $('#fileUpload').change(function () {
                $('#btnSubmit').click();
            });
            $('#themeFileUpload').change(function () {
                $('#btnThemeSubmit').click();
            });
        });
    </script>
}