@using System.Web.Optimization
@model BAR.UI.MVC.Models.ItemViewModels.ItemCreateViewModel

@section CustomCSS{
    @Styles.Render("~/bundles/datatables-css", "~/bundles/datatables-buttons-css")
}

<h1>@Model.PageTitle</h1>

@using (Html.BeginForm("UploadJson", "Admin", FormMethod.Post, new { role = "form", enctype = "multipart/form-data", @style= "display: inline-block;" }))
{
<label for="fileUpload" class="btn btn-dark">@Resources.ImportContent</label>
<input type="file" style="display:none;" name="jsonFile" id="fileUpload" accept=".json" />
<button type="submit" id="btnSubmit" style="visibility: hidden; width: 0px; height: 0px; padding: 0px 0px !important;">@Resources.ImportContent</button>
}

@using (Html.BeginForm("UploadThemes", "Admin", FormMethod.Post, new { role = "form", enctype = "multipart/form-data", @style = "display: inline-block;" }))
{
    <label for="themeFileUpload" class="btn btn-dark">@Resources.ImportThemes</label>
    <input type="file" style="display:none;" name="jsonFileThemes" id="themeFileUpload" accept=".json" />
    <button type="submit" id="btnThemeSubmit" style="visibility:hidden; width: 0px; height: 0px; padding: 0px 0px !important;">@Resources.Save</button>
}

<form style="display: inline-block">
    <a class="btn btn-dark " data-toggle="modal" data-target=".bs-example-modal-lg" >@Resources.CreateItem</a>
</form>

@Html.Partial("Partials/_CreateItemModal")
<hr />
@Html.Partial("Partials/_ItemTable", Model)

<div class="space">space</div>
<div class="space">space</div>

@section CustomJS{
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/datatables-buttons", "~/bundles/datatables-buttons-bs")
    <script src="~/Scripts/DataExport/jszip.min.js"></script>
    <script src="~/Scripts/DataExport/pdfmake.min.js"></script>
    <script src="~/Scripts/DataExport/vfs_fonts.js"></script>
    <script src="~/Scripts/DataExport/buttons.html5.min.js"></script>
    <script src="~/Content/build/js/itemmanagement.js"></script>
}