﻿@using System.Web.Optimization
@using System.Web.Optimization
@model BAR.UI.MVC.Models.ItemViewModels.ItemViewModel

@section CustomCSS{
    <link href="~/Scripts/datatables/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/datatables/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/datatables/datatables.net-buttons-bs/css/buttons.bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/datatables/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet" />
}

<h1>
    @Model.PageTitle
</h1>
    @using (Html.BeginForm("UploadJson", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
    <label for="fileUpload" class="btn btn-dark">@Resources.ImportContent</label>
    <input type="file" style="visibility:hidden;" class="btn btn-dark" name="jsonFile" id="fileUpload" accept=".json"/>
    <button type="submit" id="btnSubmit" style="visibility:hidden;" class="btn btn-dark">@Resources.Save</button>
    }

<hr />

@Html.Partial("Partials/_ItemTable", Model)

<div style="visibility: hidden">space</div>


@section CustomJS{
    <script src="~/Scripts/datatables/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/datatables/datatables.net-buttons/js/buttons.colVis.js"></script>
    <script src="~/Scripts/datatables/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/Scripts/datatables/datatables.net-buttons/js/buttons.flash.js"></script>
    <script src="~/Scripts/datatables/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Scripts/datatables/datatables.net-buttons/js/buttons.html5.js"></script>
    <script src="~/Scripts/datatables/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Scripts/datatables/datatables.net-buttons/js/buttons.print.js"></script>
    <script src="~/Scripts/datatables/datatables.net-buttons/js/buttons.print.min.js"></script>

    <script src="~/Scripts/datatables/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
    <script src="~/Scripts/datatables/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script type="text/javascript">
        (() => {
            var wto;
            $(".removeItem").click(function() {
                clearTimeout(wto);
                var $this = $(this);
                var id = $this.data('item-id');
                var text = $this.html();
                $this.html("<i class='fa fa-circle-o-notch fa-spin'></i>");
                wto = setTimeout(function() {
                        $.ajax({
                                type: 'POST',
                                url: '/api/Admin/ToggleDeleteItem/' + id
                            }).fail(() => { alert("@Resources.CannotRemoveItem") })
                            .done(function() {
                                if (text === "@Resources.Recover") $this.html("@Resources.Remove");
                                else $this.html("@Resources.Recover");
                                $this.toggleClass("btn-danger btn-dark");
                            });
                    },
                    500);
            });

            var loader = $("<div />", { "class": "loadMessage" });
            $(".renameItem").on('input propertychange paste',
                function() {
                    clearTimeout(wto);
                    var $this = $(this);
                    var id = $this.data('item-id');
                    $this.after(loader);
                    wto = setTimeout(function() {
                            $.ajax({
                                    type: 'POST',
                                    url: '/api/Admin/RenameItem/' + id + '/' + $this.val()
                                }).fail(() => { /**/ })
                                .done(function() {
                                    $this.parent().find(loader).remove();
                                });
                        },
                        1000);
                });
            $('#datatable-buttons').dataTable({
                "sScrollY": "500px",
                "paging": true
            });

        })($);
    </script>
<script>
    $(document).ready(function () {
        $('#fileUpload').change(function () {
            $('#btnSubmit').click();
        });
    });
    </script> 
}