@using System.Web.Optimization
@model BAR.UI.MVC.Models.ItemViewModels.ItemViewModel

@section CustomCSS{
    @Styles.Render("~/bundles/datatables-css", "~/bundles/datatables-buttons-css")
}

<h1>
    @Model.PageTitle <a class="btn btn-dark btn-xs">Content importeren</a>
</h1>

<hr/>

@Html.Partial("Partials/_ItemTable", Model)

<div style="visibility: hidden">space</div>


@section CustomJS{
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/datatables-buttons", "~/bundles/datatables-buttons-bs")
    <script type="text/javascript">
        (() => {
            var wto;
            $(".removeItem").click(function() {
                clearTimeout(wto);
                var $this = $(this);
                var id = $this.data('item-id');
                var text = $this.html();
                $this.html("<i class='fa fa-circle-o-notch fa-spin'></i>");
                wto = setTimeout(function() {
                        $.ajax({
                                type: 'POST',
                                url: '/api/Admin/DeleteItem/' + id
                            }).fail(() => { alert("Cannot remove item.") })
                            .done(function() {
                                if (text === "Herstellen") $this.html("Verwijderen");
                                else $this.html("Herstellen");
                                $this.toggleClass("btn-danger btn-dark");
                            });
                    },
                    500);
            });

            var loader = $("<div />", { "class": "loadMessage" });
            $(".renameItem").on('input propertychange paste',
                function() {
                    clearTimeout(wto);
                    var $this = $(this);
                    var id = $this.data('item-id');
                    $this.after(loader);
                    wto = setTimeout(function() {
                            $.ajax({
                                    type: 'POST',
                                    url: '/api/Admin/RenameItem/' + id + '/' + $this.val()
                                }).fail(() => { /**/ })
                                .done(function() {
                                    $this.parent().find(loader).remove();
                                });
                        },
                        1000);
                });
        })($);
    </script>
}